In [6]:
# 1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla
a=1
print(a)

1

In [5]:
# 2) Imprimir el tipo de dato de la constante 8.5

type(8.5)

float

In [7]:
# 3) Imprimir el tipo de dato de la variable creada en el punto 1
type(a)

int

In [8]:
# 4) Crear una variable que contenga tu nombre
yo="Guille"

In [9]:
# 5) Crear una variable que contenga un número complejo
complejo=2 + 2j

In [11]:
# 6 Mostrar el tipo de dato de la variable crada en el punto 5
type(complejo)

complex

In [20]:
# 7 Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

myPi=3.1416

In [23]:
# 8 Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo? no, uno es un string 'True' y el otro es booleano True

sinComilla=True
conComilla='True'
print(sinComilla==conComilla)

False

In [26]:
# 9 Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9
print (type(sinComilla))
print (type(conComilla))

<class 'bool'>
<class 'str'>

In [27]:
# 10 Asignar a una variable, la suma de un número entero y otro decimal

intFloat=9+3.5

In [32]:
# 11 Realizar una operación de suma de números complejos
a = 1j+1
b = 2+3j

print(a+b)

(3+4j)

In [33]:
#  12 Realizar una operación de suma de un número real y otro complejo
print(4+b)

(6+3j)

In [34]:
#  13 Realizar una operación de multiplicación

print(7*7)

49

In [35]:
# 14 mostrar 2 a la octava
print (2**8)

256

In [37]:
#  15 Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla
resul=27/4
print(resul)

6.75

In [40]:
# 16De la división anterior solamente mostrar la parte entera

print(int(resul))
# print(27//4) hace lo mismo
print(27//4)

6
6

In [41]:
# 17 De la división de 27 entre 4 mostrar solamente el resto
print(27%4)

3

In [42]:
# 18 Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

4*(27//4)+(27%4)

27

In [45]:
# 19 Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

'asd'+'12asd'

'asd12asd'

In [46]:
#  20 Evaluar si "2" es igual a 2. ¿Por qué ocurre eso? uno es int otro str

2=="2"

False

In [50]:
#21 Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

print (int("2")==2)
print(str(2)=="2")

True
True

In [54]:
# 22 ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8') POR LA COMA

# a = float('3,8') coma :(( es con punto
aarregloFloat= float('3.8')

In [58]:
#  23 Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

tres=3
tres-=2
tres

1

In [64]:
# 24 Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?
# 4 << 2 corre hacia al izq dos posiciones circularmente dentro del binario que representa al 4

4 << 2

16

In [72]:
# 25 Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

# uno es str, el otro int. Si fueran del mismo tipo en int siempre darían 4 en str darian '22'
print(2+2)
print('2'+'2')
print(type('2'+'2'))

4
22
<class 'str'>

In [79]:
# 26 Realizar una operación válida entre valores de tipo entero y string

miEntero=35138888
miString='celular: '

print(miString+str(miEntero)+' '+str(miEntero//miEntero)+' sola vez')

celular: 35138888 1 sola vez